/*UNIVERSAL*/
* {
  box-sizing: border-box;
}

*::selection {
  color: #f7dfce;
  background-color: #746f83;
}

html {
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
}

header,
main {
  padding: 16px;
}

.header {
  text-align: center;
  background-color: #d1af97;
  color: #393544;
  padding: 70px 16px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
}

article {
  padding-bottom: 30px;
}

#navigation li {
  padding: 3px 0;
  list-style: none;
}

.nav-item {
  color: #393544;
}

.nav-item:hover {
  color: #8d6346;
}

.nav-item:active {
  color: white;
}

.main > article + article {
  border-top: 1px solid #393544;
}
.header p::after {
  content: "✨ ";
}

.experience-heading {
  display: inline-block;
  padding-right: 10px;
}

.sub-heading {
  display: inline;
}

main h2 {
  position: relative;
  right: 30px;
}

main article {
  padding-left: 20px;
  padding-right: 20px;
}

#button {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-weight: 800;
  /*background-color: #8d6549;*/
  border: 3px solid white;
  padding: 10px;
}

#Contact ul li {
  list-style: none;
}

#Contact ul {
  padding-left: 0px;
}
