/*GENERAL*/
* {
  box-sizing: border-box;
}

*::selection {
  color: #f7dfce;
  background-color: #746f83;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
body {
  margin: 0;
  --header-dark-color: rgba(2, 0, 36, 1);
  --header-light-color: rgba(209, 175, 151, 1);
  --hover: #bb967c;
  --active: white;
  --link-color: #393544;
  --text-color: #393544;
  --header: black;
  --button-color: white;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
}

/*SPECIFIC*/
/*HEADER*/
.header {
  text-align: center;
  /* background-color: #d1af97; */
  background-color: var(--header-light-color);
  background: linear-gradient(
    20deg,
    var(--header-dark-color) 0%,
    var(--header-light-color) 30% 70%,
    var(--header-dark-color) 100%
  );
  color: var(--text-color);
  padding: 4rem 1rem;
}

#button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  color: var(--button-color);
  font-weight: 800;
  /*background-color: #8d6549;*/
  border: 0.2rem solid var(--button-color);
  padding: 0.6rem;
  opacity: 0.5;
}

.header:hover #button,
.header:focus-within #button {
  transform: scale(1.5);
  opacity: 1;
}

.header p::after {
  content: "✨ ";
}

.header-refactoring {
  font-size: 4rem;
}

.header-refactoring h1 {
  font-size: 1em;
  color: var(--header);
}

.header-refactoring p {
  font-size: 25%;
}
/*MAIN*/
.main {
  max-width: 80ch;
  margin: 0 auto;
  padding: 1rem;
}

article {
  padding-bottom: 1.5rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-item {
  color: var(--link-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-item:hover {
  background-color: var(--hover);
  color: var(--active);
  border: solid var(--hover);
  /* border-radius: 30%; */
  transition: background-color 0.5s;
}

.nav-item:active {
  color: var(--active);
}
.nav-item:focus {
  border: dashed var(--header-dark-color);
}

.main > article + article {
  border-top: 0.1rem solid #020024;
}

.flex-job {
  display: flex;
  flex-direction: column;
}

.experience-heading {
  display: inline-block;
  padding-right: 1.8rem;
}

.sub-heading {
  margin-top: 1.2rem;
}

main h2 {
  position: relative;
  right: 1.6rem;
}

main article {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

#Contact ul li {
  list-style: none;
}

#Contact ul {
  padding-left: 0;
}

.contact-item {
  color: var(--link-color);
}

.contact-item:hover {
  color: var(--hover);
}
/*FOOTER*/
.footer p {
  text-align: center;
  background-color: #d1af97;
  background: linear-gradient(
    90deg,
    var(--header-dark-color) 0%,
    var(--header-light-color) 40% 60%,
    var(--header-dark-color) 100%
  );
  color: #393544;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/*MEDIA QUERIES*/
@media print {
  #button {
    display: none;
  }
  #navigation {
    display: none;
  }
}

@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }

  .main article {
    padding: 2rem 2rem;
  }

  .flex-container {
    flex-direction: row;
    justify-content: center;
  }

  .flex-job {
    flex-direction: row;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
  }
  .content {
    margin-top: 3rem;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 19px;
  }

  #button {
    position: fixed;
  }

  .main article {
    padding: 1.5rem 1.5rem;
  }
}
